spring:
  application:
    name: personalearn
    jwt:
      keycloak:
        url: ${ISSUER_URI:https://keycloak.ui-tap.com/realms/persona-learn}
        client-id: ${CLIENT_ID:persona-learn}
        client-secret: ${CLIENT_SECRET:7rGBPBWliQCG9DFHwchHNY0Lw74tBJMz}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI:https://keycloak.ui-tap.com/realms/persona-learn}
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs
  web:
    error:
      include-message: always

server:
  servlet:
    context-path: '/api-persona-learn/'
  port: ${PORT:8080}
  address: 0.0.0.0

jwt:
  auth:
    converter:
      resource-id: ${spring.application.jwt.keycloak.client-id}
      principle-attribute: preferred_username

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoint:
    metrics:
      access: read_only
    prometheus:
      access: read_only
    health:
      show-details: always
    beans:
      access: read_only
  endpoints:
    web:
      exposure:
        include: "*"
  prometheus:
    metrics:
      export:
        enabled: true